	.btn-primary{
        width: 200px;
 	}

 	#nome{
 		margin-top: 2%;
 		text-align:center;
 		margin-right: auto;
 		margin-left: auto;
 		
 	}

 	#usuario{
 		text-align: center;
 		margin-right: auto;
 		margin-left: auto;
 		
 	}

 	#email{
 		text-align: center;
 		margin-right: auto;
 		margin-left: auto;
 		
 	}

 	#senha{
 		text-align: center;
 		margin-right: auto;
 		margin-left: auto;
 		
 	}

 	#confirma_senha{
 		
 		text-align: center;
 		margin-right: auto;
 		margin-left: auto;
 	}

 	#botao{
 		text-align: center;
 		margin-right: auto;
 		margin-left: auto;
 		
 	}
	.inputLogin{
		display: inline;
	}

	.form-control{
		border-color: black;
	}

	h1 {
		color: black;
		text-align: center;
		margin-top: 14%;
	}