 .btn-primary {
     width: 200px;
 }
       #usuario{
            margin-top: 2%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
      }

       #senha{
          border-radius: .25rem;
           margin-left: auto;
           margin-right: auto;
           text-align: center;
     }

       #entrar{

           margin-left: auto;
           margin-right: auto;
           text-align: center;
      }

    #esqueceu_senha {
        margin-left: auto;
        margin-right: auto;
        text-align: center;


    }
      #cadastro{
          margin-left: auto;
          margin-right: auto;
          text-align: center;

      }

      .inputLogin{
          display: inline;
      }

      .form-control{
          border-color: black;
      }

 h1{
     color:black;
     text-align: center;
     margin-top: 18%;
 }